.container-form-user{
    display: flex;
    justify-content: center;
    min-height: 60vh;
    align-items: center;
    flex-direction: column;
}
.form-user{
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 2vw;
    border-radius: 8px;
}
.form-user input, .form-user textarea{
    padding: 1vw;
    margin: 1vw 0;
    border: none;
    background-color:var(--light-green);
    border-radius: 6px;
    color: #fff;
}
.form-user input::placeholder{
    color: #fff;
}
.form-user button{
    background-color: var(--yellow);
    color: #fff;
    padding: 1vw 2vw;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.form-user button:hover{
    background-color: #ef9c0099;
    color: #ffffff;
}
.btn-google {
    padding: 1vw;
    margin: 1vw;
    width: 34vw;
    border: none;
    background-color: white;
    color: var(--green);
    border-radius: 8px;
}
.btn-google:hover {
    background-color: rgba(255, 255, 255, 0.555);
    color: var(--green);
    cursor: pointer;
}
@media (max-width: 992px) {
    .btn-google{
        font-size: 5vw;
        padding: 2vw;
        margin: 2vw;
        width: 90vw;
        border: none;
        background-color: white;
        color: var(--green);
        border-radius: 8px;
    }
  
    .form-user{
        width: 80vw;
        padding: 4vw;
    }
    .form-user input{
        padding: 3vw;
        margin: 3vw 0;
    }
    .form-user button{
        padding: 3vw 2vw;
    }
}