:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
  color-scheme: light dark;
}
*{
  margin: 0;
  padding: 0;
}
.section1{
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  padding: 6vw 12vw;
}
.container1{
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  padding: 2vw;
  margin: 1vw;
}