:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
  --green: #2a7d28;
  --light-green: #349931;
  --yellow: #d58c03;
}
*{
  margin: 0;
  padding: 0;
}
.section1{
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  padding: 6vw 12vw;
}
.container1{
  border-radius: 12px;
  background-color: #d3d3d3;
  display: flex;
  padding: 2vw;
  justify-content: space-between;
  margin: 1vw;
}
body{
  background-color: #dddddd;
}